blis==0.7.5
brotlipy @ file:///Users/runner/miniforge3/conda-bld/brotlipy_1636012319596/work
catalogue==2.0.6
certifi==2021.10.8
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1636046173594/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1637858084653/work
click @ file:///Users/runner/miniforge3/conda-bld/click_1635822911388/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1637648810489/work
cycler==0.11.0
cymem==2.0.6
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1637070794272/work
fonttools==4.28.2
future @ file:///Users/runner/miniforge3/conda-bld/future_1635819640244/work
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1636414419863/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1636431822059/work
Jinja2==3.0.3
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
kiwisolver==1.3.2
krippendorff==0.5.1
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib==3.5.0
murmurhash==1.0.6
networkx==2.6.3
nltk==3.6.5
numpy==1.22.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.3.4
pathy==0.6.1
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1636559202918/work
preshed==3.0.6
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic==1.8.2
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1635862736740/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1633452062248/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1636140145796/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1636504423170/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1636276757411/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1636784144606/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1637806880936/work
seaborn==0.11.2
setuptools-scm==6.3.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smart-open==5.2.1
spacy==3.2.1
spacy-legacy==3.0.8
spacy-loggers==1.0.1
srsly==2.4.2
thinc==8.0.13
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
tokenizers @ file:///Users/runner/miniforge3/conda-bld/tokenizers_1632285738380/work
tomli==1.2.2
torch @ file:///Users/runner/miniforge3/conda-bld/pytorch-recipe_1635217266490/work
torchvision==0.2.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1637183947276/work
typer==0.4.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1637155965157/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
wasabi==0.9.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
